# Topmost editor config file
root = true

[*]
charset = utf-8
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
max_line_length = 120

# Custom Coding Styles for Java files
[*.java]
indent_size = 4
indent_style = tab
trim_trailing_whitespace = true

ij_any_align_multiline_parameters = false
# ij_java_align_multiline_parameters = true
ij_java_generate_final_parameters = true
ij_java_prefer_parameters_wrap = true
ij_wrap_on_typing = true
